Django>=4.1.5
django-filter>=22.1
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.2.2
djoser>=2.1.0
drf-yasg>=1.21.4
django-debug-toolbar>=3.7.0
django-celery-beat>=2.4.0
django-celery-results>=2.4.0